@model PersonalSiteMVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}

<div class="header-intro theme-bg-primary text-white py-5">
    <div class="container">
        <h2 class="page-heading mb-0">@ViewBag.title</h2>

    </div><!--//container-->
</div><!--//header-intro-->
</header><!--//header-->
<section class="section py-5">
    <div class="container">
        <div class="row">
            <div class="contact-intro col-lg-8 mx-lg-auto mb-5 text-center">
                <img class="profile-small d-inline-block mx-auto rounded-circle mb-3" src="~/Content/assets/images/profile.jpg" alt="">
                <div class="speech-bubble bg-white p-4 p-lg-5 shadow-sm">
                    <p class="text-center mb-3">I'm not currently taking on freelance work.<br /><br />If you would like to get in touch with me please use the form below to get in touch.&nbsp;&nbsp;Interested in how I work and what I can offer?&nbsp;&nbsp;Check out my <a href="@Url.Action("Projects", "Home")">projects</a> and <a href="@Url.Action("Resume", "Home")">resume</a>.</p>
                    <br />
                    <h6 class="font-weight-bold text-center mb-3">You can also find me elsewhere on the net...</h6>

                    <ul class="social-list-color list-inline mb-0">
                        <li class="list-inline-item mb-3"><a class="twitter" href="https://twitter.com/jaggermeister"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item mb-3"><a class="linkedin" href="https://www.linkedin.com/in/michaeljaggers"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item mb-3"><a class="github" href="https://github.com/michaeljaggers"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        <li class="list-inline-item mb-3"><a class="codepen" href="https://codepen.io/jaggers"><i class="fab fa-codepen fa-fw"></i></a></li>
                    </ul><!--//social-list-->
                </div>

            </div><!--//contact-intro-->

            @Html.Partial("ContactForm")

        </div><!--//row-->
    </div><!--//container-->
</section><!--//section-->

@section scripts {
    <!-- Page Specific JS - Contact -->
    @Scripts.Render("~/bundles/contact")
}