@{
    ViewBag.Title = "About";
}

<div class="header-intro theme-bg-primary text-white py-5">
    <div class="container">
        <div class="profile-teaser media flex-column flex-md-row">
            <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="~/Content/assets/images/profile.jpg" alt="Profile Image">
            <div class="media-body text-center text-md-left">
                <div class="lead">Hello, my name is</div>
                <h2 class="mt-0 display-4 font-weight-bold">Michael Jaggers</h2>
                <div class="bio mb-3">
                    I'm a full-stack developer specialized in the front-end.&nbsp;&nbsp;I share thoughts, links, and quotes on <a class="link-on-bg" href="https://michaeljaggers.com" target="_blank">Tumblr</a> and regularly take advantage of opportunities to learn something new.&nbsp;&nbsp;Want to know how I may help your company?&nbsp;&nbsp;Check out my <a class="link-on-bg" href="@Url.Action("Projects", "Home")">projects</a> and <a class="link-on-bg" href="@Url.Action("Resume", "Home")">resume</a>.
                </div><!--//bio-->
                <a class="theme-btn-on-bg btn font-weight-bold theme-btn-cta" href="@Url.Action("Contact", "Home")">Contact Me</a>

            </div><!--//media-body-->
        </div><!--//profile-teaser-->

    </div><!--//container-->
</div><!--//header-intro-->
</header><!-- //header -->
<section class="skills-section section py-5">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-3">Skills Overview</h3>
        <div class="section-intro mx-auto text-center mb-5 text-secondary">I have more than 5 years of experience developing for the web.&nbsp;&nbsp;Below is a quick overview of my main technical skills and tools I use.&nbsp;&nbsp;Want to find out more about my skillset?&nbsp;&nbsp;<a href="@Url.Action("Resume", "Home")">Check out my online resume</a>.</div>

        <div class="skills-blocks mx-auto pt-5">
            <div class="row">
                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Front-End</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="~/Content/assets/images/frontend-icon.svg">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>React</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Javascript</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Webpack/Gulp/Grunt</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>HTML/CSS/SASS</li>
                        </ul>
                    </div><!--//skills-block-inner-->
                </div><!--//skills-block-->

                <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Back-End</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="~/Content/assets/images/backend-icon.svg">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Node.js</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>C#</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>MySQL</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>MongoDB</li>
                        </ul>
                    </div><!--//skills-block-inner-->
                </div><!--//skills-block-->

                <div class="skills-block col-12 col-lg-4">
                    <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                        <h4 class="skills-cat text-center mb-3 mt-5">Others</h4>
                        <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                            <img class="skills-icon" src="~/Content/assets/images/other-skills-icon.svg">
                        </div>
                        <ul class="skills-list list-unstyled text-secondary">
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Unit Testing</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>UX/Wireframing</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Photoshop</li>
                            <li class="mb-2"><i class="fas fa-check mr-2 text-primary"></i>Wordpress</li>
                        </ul>
                    </div><!--//skills-block-inner-->
                </div><!--//skills-block-->

            </div><!--//row-->
        </div>
    </div><!--//container-->
</section><!--//skills-section-->

<section class="section-proof section bg-white py-5">
    <!--<div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5">Great clients I've worked with</h3>
        <div class="logos row mb-5">
            <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4"><a class="logo-link" href="project.html"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/logo-1.svg"></a></div>
            <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4"><a class="logo-link" href="project.html"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/logo-2.svg"></a></div>
            <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4"><a class="logo-link" href="project.html"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/logo-3.svg"></a></div>
            <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4"><a class="logo-link" href="project.html"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/logo-4.svg"></a></div>
            <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4"><a class="logo-link" href="project.html"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/logo-5.svg"></a></div>
            <div class="logo px-3 col-6 col-md-4 col-lg-2 mr-0 px-md-5 px-lg-4"><a class="logo-link" href="project.html"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/logo-6.svg"></a></div>
        </div>
    </div>-->

    <div class="container-fluid">

        <div class="testimonials">

            <div class="testimonial-item">
                <div class="position-relative p-5 shadow">
                    <blockquote class="blockquote pl-4">
                        <p class="mb-4">Michael is a go getter, he has great drive and determination.&nbsp;&nbsp;Michael tackles each challenge with preparation and a refreshing outlook.</p>
                        <i class="quote-icon fas fa-quote-left fa-lg position-absolute text-primary"></i>
                        <footer class="blockquote-footer presudo-hidden">
                            <div class="media client-profile flex-column flex-md-row">
                                <img class="mr-md-3" src="~/Content/assets/images/clients/Micah-Lay.jpg" alt="Micah Lay">
                                <cite title="Source" class="quote-source d-inline-block font-style-normal pt-3">
                                    <span class="d-block">Micah Lay</span>
                                    <span class="d-block">Systems Administrator, Westfall GMC Truck</span>
                                    <span class="d-block position-absolute source-link"><i class="fab fa-linkedin fa-2x mr-1" data-fa-transform="down-3"></i> <a class="text-secondary" href="https://www.linkedin.com/in/michaeljaggers/" target="_blank">View on Linkedin <i class="fas fa-external-link-alt ml-1" data-fa-transform="up-1"></i></a></span>
                                </cite>
                            </div><!--//media-->
                        </footer>
                    </blockquote>
                </div>
            </div><!--//testimonial-item-->

            <div class="testimonial-item">
                <div class="position-relative p-5 shadow">
                    <blockquote class="blockquote pl-4">
                        <p class="mb-4">Michael Jaggers is a very creative innovator!!&nbsp;&nbsp;When I came to Vin Solutions Michael was one of the Senior Tech's in the Support Division.&nbsp;&nbsp;He always took the time to help myself and all new hires.</p>
                        <i class="quote-icon fas fa-quote-left position-absolute text-primary"></i>
                        <footer class="blockquote-footer presudo-hidden">
                            <div class="media client-profile">
                                <img class="mr-3" src="~/Content/assets/images/clients/Tim-Petit.jpg" alt="Tim Petit">
                                <cite title="Source" class="quote-source d-inline-block font-style-normal pt-3">
                                    <span class="d-block">Tim Petit</span>
                                    <span class="d-block">Specialist System Migration Analyst, ScriptPro</span>
                                    <span class="d-block position-absolute source-link"><i class="fab fa-linkedin fa-2x mr-1" data-fa-transform="down-3"></i> <a class="text-secondary" href="https://www.linkedin.com/in/michaeljaggers/" target="_blank">View on Linkedin <i class="fas fa-external-link-alt ml-1" data-fa-transform="up-1"></i></a></span>
                                </cite>
                            </div><!--//media-->
                        </footer>
                    </blockquote>
                </div>
            </div><!--//testimonial-item-->
        </div><!--//container-fluid-->
    </div><!--//testimonials-->
</section>
<section class="section-featured-projects py-5">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5">Featured Projects</h3>
        <div class="project-cards row mb-5">
            <div class="col-12 col-lg-4">
                <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="~/Content/assets/images/projects/Fed1StudioProject.jpg" alt="FED1 Studio Project">
                        <div class="card-img-overlay overlay-logo text-center">
                            <div class="project-logo"><img class="img-fluid w-50" src="~/Content/assets/images/logos/centriq-white.png"></div>
                        </div>
                        <a class="card-img-overlay overlay-content text-left p-lg-4" href="//kcdi.michaeljaggers.net" target="_blank">
                            <h5 class="card-title font-weight-bold">Centriq Training</h5>
                            <p class="card-text">The FED1 Project consisted of creating an entire website with hand-crafted HTML, CSS, and JavaScript depicting a ficticious business presence.</p>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title text-truncate text-center mb-0"><a href="//kcdi.michaeljaggers.net" target="_blank">FED1 Studio Project</a></h4>
                    </div>
                    <div class="card-footer border-0 text-center bg-white pb-4">
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML5</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">CSS3</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">JavaScript</span></li>
                        </ul>
                    </div>
                </div><!--//card-->
            </div>
            <div class="col-12 col-lg-4">
                <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="~/Content/assets/images/projects/DungeonApplication.jpg" alt="Dungeon Application">
                        <div class="card-img-overlay overlay-logo text-center">
                            <div class="project-logo"><img class="img-fluid w-50" src="~/Content/assets/images/logos/centriq-white.png"></div>
                        </div>
                        <a class="card-img-overlay overlay-content text-left p-lg-4" href="https://github.com/michaeljaggers/DungeonApplication" target="_blank">
                            <h5 class="card-title font-weight-bold">Centriq Training</h5>
                            <p class="card-text">The Dungeon Application is a console-based app written in C# offering interactive choices and consequences battling a variety a foes.</p>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title text-truncate text-center mb-0"><a href="https://github.com/michaeljaggers/DungeonApplication" target="_blank">Dungeon Application</a></h4>
                    </div>
                    <div class="card-footer border-0 text-center bg-white pb-4">
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">C#</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">.NET Framework</span></li>
                        </ul>
                    </div>
                </div><!--//card-->
            </div>
            <div class="col-12 col-lg-4">
                <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
                    <div class="card-img-container position-relative">
                        <img class="card-img-top rounded-0" src="~/Content/assets/images/projects/project-3-thumb.jpg" alt="">
                        <div class="card-img-overlay overlay-logo text-center">
                            <div class="project-logo"><img class="img-fluid w-50" src="~/Content/assets/images/logos/centriq-white.png"></div>
                        </div>
                        <a class="card-img-overlay overlay-content text-left p-lg-4" href="@Url.Action("Project", "Home")">
                            <h5 class="card-title font-weight-bold">Centriq Training</h5>
                            <p class="card-text">Project summary goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel sapien quis nulla dictum euismod...</p>
                        </a>
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title text-truncate text-center mb-0"><a href="@Url.Action("Project", "Home")">Project Name</a></h4>
                    </div>
                    <div class="card-footer border-0 text-center bg-white pb-4">
                        <ul class="list-inline mb-0 mx-auto">
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">HTML/CSS</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">React.js</span></li>
                            <li class="list-inline-item"><span class="badge badge-secondary badge-pill">Webpack</span></li>
                        </ul>
                    </div>
                </div><!--//card-->
            </div>
        </div><!--//row-->
        <div class="text-center">
            <a class="btn btn-primary" href="@Url.Action("Projects", "Home")">View All Projects</a>
        </div>
    </div><!--///container-->
</section>
<section class="section-press py-5 bg-white">
    <div class="container">
        <h3 class="section-title font-weight-bold text-center mb-5">Proudly Worked For</h3>
        <div class="press-logos row justify-content-center">
            <div class="align-self-center press-logo px-4 px-lg-3  col-6 col-lg-4 mr-0 px-md-5 px-lg-5 mb-3 mb-lg-0"><a class="logo-link" href="https://www.dealer.com" target="_blank"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/dealer-com.png"></a></div>
            <div class="align-self-center press-logo px-4 px-lg-3  col-6 col-lg-4 mr-0 px-md-5 px-lg-5 mb-3 mb-lg-0"><a class="logo-link" href="https://www.vinsolutions.com/" target="_blank"><img class="img-fluid svg-ie-fix" src="~/Content/assets/images/logos/vinsolutions.png"></a></div>
        </div>
    </div><!--//container-->
</section>
<section class="section-cta py-5 bg-primary text-white">
    <div class="container">
        <div class="text-center">
            <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="~/Content/assets/images/profile.jpg" alt="">
        </div>
        <h3 class="section-title font-weight-bold text-center mb-2">Interested in getting to know me?</h3>
        <div class="section-intro mx-auto text-center mb-3">
            Looking for an experienced full-stack developer to build your web-app or ship your software product?&nbsp;&nbsp;To start a conversation, just drop me a line at <a class="link-on-bg" href="mailto:michael.jaggers@gmail.com">michael.jaggers@gmail.com</a> or submit a message <a class="link-on-bg" href="@Url.Action("Contact", "Home")">on my contact page</a>.
        </div>
        <div class="text-center">
            <a class="theme-btn-on-bg btn" href="@Url.Action("Contact", "Home")">Let's Chat</a>
        </div>
    </div><!--//container-->
</section>

@section scripts {
    <!-- Page Specific JS - Index -->
    <script type="text/javascript" src="~/Content/assets/plugins/flickity/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/flickity-custom.js"></script>
}
